.menu{
    height: 42px;
    position: fixed;
    top: 10px;
    width: 300px;
    border-radius: 4px;
    background-image: linear-gradient(to top, #0e0e0e, #313030);
    
    &__brand{
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: space-between;   
        padding-left: 10px;    
        &--bars{
            width: 37px;
            height: 42px;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            padding-top: 13px;
            &.active{
                background-color: #171717;
                span{
                    background-color: #1979bc;
                }
            }
            span{
                display: block;
                height: 4px;
                width: 19px;
                background-color: #fff;
                margin: 0 auto 2px auto;
                &:last-child{
                    margin-bottom: 0px;
                }
            }
        }
    }
    
    &__nav{
        width: 202px;            
        background-color: rgba(23, 23, 23, 0.94);
        float: right;        
        font-family: "Trebuchet MS";
        .link{
            border-bottom: 1px solid #444242;
            padding: 10px;
            &.nb{
                border-bottom: none;
            }
        }
        a{
            text-decoration: none;
            text-transform: uppercase;
            font-size: 14px;
            color:#fff;
        }
        &--address{
            font-size: 12px;
            color:#FFF;
            background-color: #171717;
            padding: 10px;
        }
        &--lang{
            background-image: linear-gradient(to top, #0e0e0e, #313030);
            padding: 10px;
        }
    }

}